body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Calculadora {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 25px;
}